[submodule "lib/yieldnest-vault"]
	path = lib/yieldnest-vault
	url = https://github.com/yieldnest/yieldnest-vault
	branch = feature/x-vault
[submodule "lib/kernel"]
	path = lib/kernel
	url = https://github.com/Kelp-DAO/kernel-smart-contracts-public.git
[submodule "lib/kernel-smart-contracts-public"]
	path = lib/kernel-smart-contracts-public
	url = https://github.com/Kelp-DAO/kernel-smart-contracts-public
